# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/
.venv/

# IDE files
.vscode/
.idea/
*.swp

# Django specific files
db.sqlite3
/media/
static/
staticfiles/

# Migrations (exclude all migration files)
**/migrations/*
!**/migrations/__init__.py

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Testing
.tox/
.pytest_cache/

# Packaging
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.manifest
*.spec

# Celery
celerybeat-schedule

# Deployment files
*.bak
*.orig
*.old

# System files
.DS_Store
Thumbs.db
desktop.ini
